E3DC_IP=
E3DC_PORT=5033
E3DC_USER=
E3DC_PASSWORD=
E3DC_AES_PASSWORD=
MQTT_HOST=
MQTT_PORT=1883
MQTT_AUTH=false
MQTT_USER=
MQTT_PASSWORD=
MQTT_QOS=0
MQTT_RETAIN=false
LOGFILE=/tmp/rscp2mqtt.log
INTERVAL=1
AUTO_REFRESH=false
